<!-- Contact Component -->
<h4>Contact Us</h4>
<hr />

<div class="row">
  <!-- Address Information -->
  <div class="col-sm-6">
    <h6 class="d-flex align-items-center">
      <div class="contact-icon">
        <i class="fas fa-location-arrow fa-sm text-secondary"></i>
      </div>
      <div>Address</div>
    </h6>
    <hr class="contact-type" />
    <address>
      1000 Galvin Rd S,<br />
      Bellevue, NE 68005
    </address>
  </div>
  <!-- Phone information -->
  <div class="col-sm-6">
    <h6 class="d-flex align-items-center">
      <div class="contact-icon">
        <i class="fas fa-phone fa-sm text-secondary"></i>
      </div>
      <div>Phone</div>
    </h6>
    <hr class="contact-type" />
    (402) 293-2000
  </div>
</div>
