<!-- About Component -->
<div fxLayout="row wrap">
  <div fxLFlex>
    <div fxLayout="column">
      <div>
        <img
          class="profile-pic"
          src="{{ profilePicture }}"
          alt="profile picture"
          width="90%"
        />
      </div>
      <div>
        <em> </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">{{ artist }}</h1>

    <p>{{ description }}</p>
    <em>
      <a
        href="https://www.linkedin.com/public-profile/in/yfain?challengeId=AQGf1cga_dyhHQAAAXdbZFX53BNJjln-CfXo8mcNVjpXiCEQO3cgCbKL8ObHQ_9XXCCF0vCVDFX0v2RY43_F3e8_mn-Ubg7wnw&submissionId=5c4d4613-477e-5f16-8508-1bf9e171824b"
        target="_blank"
        class="attribution-link"
        >Source</a
      >
    </em>
  </div>
</div>
