<!-- Contact Component -->
<div fxLayout="row wrap">
  <div fxFlex>
    <!-- Material Card -->
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content class="align-center">
        <p>1000 Galvin Rd S</p>
        <p>Bellevue, NE 68005</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content class="align-center">
        <p>Direct: (402) 293-2000</p>
        <p>Toll Free: (888) 293-2000</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br /><br /><br /><br />

<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or at one of our many great locations throughout the Greater
    Los Angeles Area
  </p>
</div>
